/*
	*** header and aside ***
*/

.header-images-bus {
  max-height: 60px !important;
  margin-right: 5px;
}

aside {
  background-color: #181f24 !important;
}

.bg-dark.dk, .bg-dark .dk {
  background-color:  #181f24 !important;
}

.bg-primary.lter, .bg-primary .lter {
 /* background-color: #232c32;*/
 background-color: #1ab667;
}

.bg-dark.lt, .bg-dark .lt {
  background-color: #232c32;
}

/*
	*** header and aside end ***
*/


li:focus, li:hover, .active {
  background-color:#2c3942 !important;
}
